# Ignore Mac Desktop Services files
.DS_Store

# Ignore directory .vscode/ and .venv/
.vscode/
.venv/

# Ignore results folder
results/estimated/MLP/*
results/estimated/RF/*
results/statistics/*
results/txt/MLP/*
results/txt/RF/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]